
header {
  background : #444;
  color: #fff;
  padding:  20px;
}

h1 {
  font-size:  50px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 50px;
}

h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

img {
  height:  300px;
  width:  300px;
}
